@media screen and (min-width: 1921px) {
  .carousel-inner {
      position: relative;
      width: 1240px;
      overflow: hidden;
      margin: auto;
  }
}
@media screen and (max-width: 1000px) {
  .kurta-form .flexbox{
    display: block;
  }
  .kurta-form .image-group{
    text-align: center;
  }
  .color-group{
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -ms-center;
    text-align: -o-center;5
  }
  .color-group .container{
    display: table-row;
    text-align: center;
  }
  .color-group .form-group {
    width: 100%;
  }
  .kurta-form{
      text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .footer-section .container{
    display: block;
  }
  .width-60,.width-40{
    width: 100%;
  }
  #left-footer{
    border: none;
  }
  .counter-section .row{
    display: block;
  }
  .header-section{
    position: relative;

  }

}
@media screen and (max-width: 600px) {
  .associates-section img{
      width: 100px;
  }
  #footer p{
    font-size: 10px;
  }
  .header-content img {
    width: 120px;
  }
  .right-header a{
    font-size: 12px;
  }
  .header-section .container{
    margin: auto 2px;
    display: contents;
  }
  .image-group img {
    width: 240px;
  }
  .modal-body .row{
    display: grid;
    margin: 0;
  }
  .col-xs-3 .btn-warning {
    width: 110px;
  }
}
@media screen and (max-width: 500px) {
  .footer-section *{
      font-size: 12px !important;
  }
}
@media screen and (max-width: 400px) {
  .footer-section *{
      font-size: 9px !important;
  }
  .header-section .container,.header-inner-section{
    margin: auto 2px;
    display: grid;
    width: 100%;
    text-align: center;
  }
  .right-header {
    width: 100%;
    text-align: center;
    margin: 6px auto;
  }
}
