<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>T Factory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/master-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="header-section">
      <div class="container">
        <div class="header-inner-section">
          <div class="header-content">
            <a href="{% url 'Home_Page' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
          </div>
          <div class="right-header">
            <a id="popup" data-toggle="modal" data-target="#myModal">Category</a>
            <div id="myModal" class="modal gradient-box" role="dialog" >
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h4>Technical Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Project_Order_Page' %}">Projects</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">UI/UX</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Web_Order_Page' %}">Websites</a>
                      </div>
                    </div>
                    <h4>Togs Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Plain Tshirts</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Kurta_Store_Page' %}">Kurtas</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Custom Tshirts</a>
                      </div>
                    </div>
                    <h4>Talent Factory</h4>
                    <div class="row custom-row">
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Logo</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Prints</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Portraits</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Gifts</a>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <a href="{% url 'Account_Page' %}">{{user.first_name}}</a><a href="{% url 'Logout_Page' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="header-section">
      <div class="container">
        <div class="header-inner-section">
          <div class="header-content">
            <a href="{% url 'Home_Page' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
          </div>
          <div class="right-header">
            <a id="popup" data-toggle="modal" data-target="#myModal">Category</a>
            <div id="myModal" class="modal gradient-box" role="dialog" >
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h4>Technical Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Project_Order_Page' %}">Projects</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">UI/UX</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Web_Order_Page' %}">Websites</a>
                      </div>
                    </div>
                    <h4>Togs Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Plain Tshirts</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Kurta_Store_Page' %}">Kurtas</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Custom Tshirts</a>
                      </div>
                    </div>
                    <h4>Talent Factory</h4>
                    <div class="row custom-row">
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Logo</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Prints</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Portraits</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Gifts</a>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <a href="{% url 'Login_Page' %}">Login</a>
            <a href="{% url 'Account_Page' %}">Account</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></a><li>
          <li data-target="#myCarousel" data-slide-to="1"></a><li>
          <li data-target="#myCarousel" data-slide-to="2"></a><li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'images/board-1.jpg' %}" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img src="{% static 'images/board-2.jpg' %}" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
            <img src="{% static 'images/board-3.jpg' %}" alt="New york" style="width:100%;">
          </div>
        </div>
        </a>
    </div>
    <div class="container">
      <h1>FAQ</h1>
      <br>
      <p>
        <ol>
          <li>
            <p>
              <b>If I request for a replacement, when will I get it?</b>
            </p>
            <span>
              In most locations, the replacement item is delivered to you at the time of pick-up. In all other areas, the replacement is initiated after the originally delivered item is picked up. Please check the SMS & email we send you for your replacement request for more details.Replacement is available only if the wrong or damaged products are delivered.
            </span>
          </li>
          <li>
            <p>
              <b>
                Can items be returned after the time period mentioned in the seller's Returns Policy?
              </b>
            </p>
              <span>
                No, sellers will not be able to accept returns after the time period mentioned in the seller's Returns Policy.
              </span>
            
          </li>
          <li>
            <p>
              <b>
                I’m not sure about the size and  t of the Kurta ?
            </p> 
              </b>
              <span>
                At T-factory, we offer kurtas in 5 sizes – small, medium, large, X-Large, XX-Large. ~60-70% of our customers find a Large size kurta to be the best fit.
              </span>
          </li>
          <li>
            <p>
              <b>
                How many days will they take to make my ordered items?
              </b>
            </p> 
              <span>
                We promise to deliver your purchases to you as quickly as possible. We dispatch your order within ~5-12 days of order con rmation based on the products ordered. It takes 2-5 days to get delivered to you post- dispatch, based on your location.
              </span>
          </li>
          <li>
            <p>
              <b>
                How can I be sure of the quality of the products?
              </b>
            </p> 
              <span>
                Quality is at the core of  T-Factory’s products. Our items are made from the best quality materials and our   team members hand pick the quality materials for your product ordered. In case you have any issues, call us,    and we’ll make sure it gets resolved!
              </span>
          </li>
          <li>
            <p>
              <b>
                How can I order for large quantities of the product as part of a corporate order?

              </b>
            </p> 
              <span>
                You can write to info@tfactorylive.com for your corporate gifting requirements or can contact on any  of our contact number.

              </span>
          </li>
          <li>
            <p>
              <b>
                How does T-Factory prevent card fraud?

              </b>
            </p> 
              <span>
                
                Online payments are monitored by our systems for any suspicious activity and some transactions are verified   through extensive checks if we find that they are not authorised by the owner of the card.We use highly secure 
                payment Gateway for a fast and secure payment experience.

              </span>
          </li>
          <li>
            <p>
              <b>
                Can I pay with any Credit card?

              </b>
            </p> 
              <span>
                You can choose to pay on T-Factory with any Visa, MasterCard or American Express credit card issued in India.

              </span>
          </li>
          <li>
            <p>
              <b>
                Can I use any Debit Card to pay for my order?

              </b>
            </p> 
              <span>
                You can choose to pay for your order on T-Factory with any Visa, MasterCard,Rupay or Maestro Debit Card.

              </span>
          </li>
          <li>
            <p>
              <b>
                How can I pay for my order?

              </b>
            </p> 
              <span>
                You can choose to pay for an order using any of the below methods:
                <ul>
                  <li>
                    Net Banking
                  </li>
                  <li>
                    PhonePe and Other Wallets
                  </li>
                  <li>
                    Visa, MasterCard, Maestro and American Express Credit or Debit cards issued in India 
                  </li>
                  <li>
                    UPI
                  </li>
                  <li>
                    Google Pay
                  </li>
                </ul>
              </span>
          </li>
          <li>
            <p>
              <b>
                How can I know the status of my refund?

              </b>
            </p> 
              <span>
                You can write to info@tfactorylive.com or contact to any of our contact numbers and our assistance will you get you soon.

              </span>
          </li>
          <li>
            <p>
              <b>
                What are the refund timelines if I cancel or return a product?

              </b>
            </p> 
              <span>
                The refund timelines will depend on the payment modes as listed below:
                <ul>
                  <li>
                    Debit card - 7-9 Business days
                  </li>
                  <li>
                    Credit - 7-9 Business days
                  </li>
                  <li>
                    Netbanking - 3-7 business days
                  </li>
                  <li>Phonpe
                    <ul>
                    <li>
                      PhonePe wallet - 24 hours
                    </li>
                    <li>
                      PhonePe UPI - 1 business day
                    </li>
                    <li>
                      PhonePe UPI - 1 business day
                    </li>
                    </ul>
                  </li>  

                </ul>
                Note: Refunds will be credited to the payment source used at the time of placing an order.
                Only refund is possible if the mistake is from our side.

              </span>
          </li>
          <li>
            <p>
              <b>
                If I have found a security Bug/Vulnerability/Issue what should I do?

              </b>
            </p> 
              <span>
                We take security very seriously at T-Factory. If you have found an issue on T-Factory, you can report it to     info@tfactorylive.com with the below details:
                <ul>
                  <li>
                    Steps to reproduce the bug/issue
                  </li>
                  <li>
                    Your web browser/mobile browser's name and version
                  </li>
                  <li>
                    Screenshot/screencast (if any).

                  </li>
                </ul>
              </span>
          </li>
        
        </ol>

      </p>
      <h4>Note :For any other FAQ you can write directly to info@tfactorylive.com and our team will get in touch with you as soon as possible. </h4>
   </div>
      <p> </p>
    </div>
    <br><br>
    <footer>
      <div class="footer-section">
      <div class="container">
        <div class="custom-container width-60" id="left-footer">
          <ul id="help">
            <h4>Help</h4>
            <li><a href="{% url 'Payments_Page' %}">Payments</a><li>
            <li><a href="{% url 'Faq_Page' %}">F.A.Q</a><li>
            <li><a href="{% url 'Cancelation_Page' %}">Cancellation & Returns</a><li>
            <li><a href="{% url 'Report_Page' %}">Report Issues</a><li>
          </ul>
          <ul id="policy">
            <h4>Policy</h4>
            <li><a href="{% url 'Return_Page' %}">Return Policy</a><li>
            <li><a href="{% url 'Terms_Page' %}">Terms & Conditions</a><li>
            <li><a href="{% url 'Security_Page' %}">Security</a><li>
            <li><a href="{% url 'Privacy_Page' %}">Privacy</a><li>
          </ul>
          <ul id="social">
            <h4>Social</h4>
            <li><a href="#">Facebook</a><li>
            <li><a href="#">Instagram</a><li>
            <li><a href="#">LinkedIn</a><li>
          </ul>
        </div>
        <div class="custom-container width-40">
          <ul id="contact">
            <h4>Contact Us</h4>
            <li><a href="mailto:info@tfactorylive.com">info@tfactorylive.com</a></li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
          </ul>
          <ul id="place">
            <h4>Our Place</h4>
            <li><a href="https://maps.google.com/?q=Kochi,Kerala,India">Kochi,Kerala,India</a><li>
          </ul>
        </div>
      </div>
      </div>
    </footer>
    <footer id="footer"><p>Copyright &copy; 2019 T Factory All Rights Reserved.</p> </footer>
  </body>
</html>
