<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>T Factory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/master-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="header-section">
      <div class="container">
        <div class="header-inner-section">
          <div class="header-content">
            <a href="{% url 'Home_Page' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
          </div>
          <div class="right-header">
            <a id="popup" data-toggle="modal" data-target="#myModal">Category</a>
            <div id="myModal" class="modal gradient-box" role="dialog" >
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h4>Technical Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Project_Order_Page' %}">Projects</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">UI/UX</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Web_Order_Page' %}">Websites</a>
                      </div>
                    </div>
                    <h4>Togs Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Plain Tshirts</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Kurta_Store_Page' %}">Kurtas</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Custom Tshirts</a>
                      </div>
                    </div>
                    <h4>Talent Factory</h4>
                    <div class="row custom-row">
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Logo</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Prints</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Portraits</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Gifts</a>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <a href="{% url 'Account_Page' %}">{{user.first_name}}</a><a href="{% url 'Logout_Page' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="header-section">
      <div class="container">
        <div class="header-inner-section">
          <div class="header-content">
            <a href="{% url 'Home_Page' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
          </div>
          <div class="right-header">
            <a id="popup" data-toggle="modal" data-target="#myModal">Category</a>
            <div id="myModal" class="modal gradient-box" role="dialog" >
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h4>Technical Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Project_Order_Page' %}">Projects</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">UI/UX</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Web_Order_Page' %}">Websites</a>
                      </div>
                    </div>
                    <h4>Togs Factory</h4>
                    <div class="row">
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Plain Tshirts</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Kurta_Store_Page' %}">Kurtas</a>
                      </div>
                      <div class="col-xs-4">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Custom Tshirts</a>
                      </div>
                    </div>
                    <h4>Talent Factory</h4>
                    <div class="row custom-row">
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Logo</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Design_Order_Page' %}">Prints</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Portraits</a>
                      </div>
                      <div class="col-xs-3">
                        <a class="btn btn-warning" href="{% url 'Soon_Page' %}">Gifts</a>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <a href="{% url 'Login_Page' %}">Login</a>
            <a href="{% url 'Account_Page' %}">Account</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></a><li>
          <li data-target="#myCarousel" data-slide-to="1"></a><li>
          <li data-target="#myCarousel" data-slide-to="2"></a><li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'images/board-1.jpg' %}" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img src="{% static 'images/board-2.jpg' %}" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
            <img src="{% static 'images/board-3.jpg' %}" alt="New york" style="width:100%;">
          </div>
        </div>
        </a>
    </div>
    <div class="container">
      <h1>Payments</h1>
      <br>
      <p>
        <ol>
          <li>
            <p>
              <b>How do I pay for a T-Factory purchase?</b>
            </p>
            <span>
              T-Factory offers you multiple payment methods. Whatever your online mode of payment, you can rest assured   that T-Factory’s trusted payment gateway partners use secure encryption technology to keep your transaction   details confidential at all times.
              You may use Internet Banking and Wallet to make your purchase.
              T-Factory also accepts payments made using Visa, MasterCard, Maestro and American Express credit/debit  cards in India.

            </span>
          </li>
          <li>
            <p>
              <b>
                Are there any hidden charges (Octroi or Sales Tax) when I make a purchase on T-Factory?
              </b>  

            </p>
              <span>
                There are NO hidden charges when you make a purchase on T-Factory. The prices listed for all the items are  final   and all-inclusive. The price you see on the product page is exactly what you pay.

              </span>
            
          </li>
          <li>
            <p>
              <b>
                How do I pay using a credit/debit card?

            </p> 
              </b>
              <span>
                We accept payments made by credit/debit cards issued in India.
                <ul>
                  <li>
                    <b>
                      Credit Cards
                    </b>
                    <ul>
                      <li>
                        
                        We accept payments made using Visa, MasterCard and American Express credit cards.
                        To pay using your credit card at checkout, you will need your card number, expiry date, three-digit       CVV number (found on the backside of your card). After entering these details, you will be redirected     to the bank's page for entering the OTP.

                      </li>
                    </ul>
                  </li>
                  <li>
                    <b>
                      Debit Cards
                    </b>
                    <ul>
                      <li>
                        We accept payments made using Visa, MasterCard and Maestro debit cards.
                        To pay using your debit card at checkout, you will need your card number, expiry date (optional for     Maestro   cards), three-digit CVV number (optional for Maestro cards). You will then be redirected to     your bank's secure page for entering your online password (issued by your bank) to        complete the payment.

                      </li>
                    </ul>
                  </li>
                </ul>
              </span>
          </li>
          <li>
            <p>
              <b>
                Is it safe to use my credit/debit card on T-Factory?

              </b>
            </p> 
              <span>
                Your online transaction on T-Factory is secure with the highest levels of transaction security currently available  on the Internet. 
                All credit card and debit card payments on T-Factory are processed through secure and trusted payment     gateways.

              </span>
          </li>
          
                </ul>
              </span>
          </li>
        
        </ol>

      </p>
      
   </div>
      <p> </p>
    </div>
    <br><br>
    <footer>
      <div class="footer-section">
      <div class="container">
        <div class="custom-container width-60" id="left-footer">
          <ul id="help">
            <h4>Help</h4>
            <li><a href="{% url 'Payments_Page' %}">Payments</a><li>
            <li><a href="{% url 'Faq_Page' %}">F.A.Q</a><li>
            <li><a href="{% url 'Cancelation_Page' %}">Cancellation & Returns</a><li>
            <li><a href="{% url 'Report_Page' %}">Report Issues</a><li>
          </ul>
          <ul id="policy">
            <h4>Policy</h4>
            <li><a href="{% url 'Return_Page' %}">Return Policy</a><li>
            <li><a href="{% url 'Terms_Page' %}">Terms & Conditions</a><li>
            <li><a href="{% url 'Security_Page' %}">Security</a><li>
            <li><a href="{% url 'Privacy_Page' %}">Privacy</a><li>
          </ul>
          <ul id="social">
            <h4>Social</h4>
            <li><a href="#">Facebook</a><li>
            <li><a href="#">Instagram</a><li>
            <li><a href="#">LinkedIn</a><li>
          </ul>
        </div>
        <div class="custom-container width-40">
          <ul id="contact">
            <h4>Contact Us</h4>
            <li><a href="mailto:info@tfactorylive.com">info@tfactorylive.com</a></li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
          </ul>
          <ul id="place">
            <h4>Our Place</h4>
            <li><a href="https://maps.google.com/?q=Kochi,Kerala,India">Kochi,Kerala,India</a><li>
          </ul>
        </div>
      </div>
      </div>
    </footer>
    <footer id="footer"><p>Copyright &copy; 2019 T Factory All Rights Reserved.</p> </footer>
  </body>
</html>
