<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>T Factory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/master-responsive.css">
    <link rel="stylesheet" href="css/slider.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slider.js"></script>
  </head>
  <body>
    <div class="header-section">
      <div class="container">
        <div class="header-inner-section">
          <div class="header-content">
            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
          </div>
          <div class="right-header">
            <a href="login.html">Login</a>
            <a href="cart.html">Account</a>
          </div>
        </div>
      </div>
    </div>
    <div class="project-section">
      <div class="container">
        <form class="project-form" method="post">
          <h1>Book an chat with our best Designers</h1>
          <p>Our executive will contact you on phone</p>
          <div class="form-group">

          </div>
        </form>
      </div>
    </div>
    <br><br>
    <footer>
      <div class="footer-section">
      <div class="container">
        <div class="custom-container width-60" id="left-footer">
          <ul id="help">
            <h4>Help</h4>
            <li><a href="#">Payments</a><li>
            <li><a href="#">F.A.Q</a><li>
            <li><a href="#">Cancellation & Returns</a><li>
            <li><a href="#">Report Issues</a><li>
          </ul>
          <ul id="policy">
            <h4>Policy</h4>
            <li><a href="return.html">Return Policy</a><li>
            <li><a href="terms_conditions.html">Terms & Conditions</a><li>
            <li><a href="#">Security</a><li>
            <li><a href="privacy.html">Privacy</a><li>
          </ul>
          <ul id="social">
            <h4>Social</h4>
            <li><a href="#">Facebook</a><li>
            <li><a href="#">Instagram</a><li>
            <li><a href="#">LinkedIn</a><li>
          </ul>
        </div>
        <div class="custom-container width-40">
          <ul id="contact">
            <h4>Contact Us</h4>
            <li><a href="mailto:info@tfactorylive.com">info@tfactorylive.com</a></li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
          </ul>
          <ul id="place">
            <h4>Our Place</h4>
            <li><a href="https://maps.google.com/?q=Kochi,Kerala,India">Kochi,Kerala,India</a><li>
          </ul>
        </div>
      </div>
      </div>
    </footer>
    <footer id="footer"><p>Copyright &copy; 2019 T Factory All Rights Reserved.</p> </footer>
  </body>
</html>
