<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>T Factory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/master-responsive.css">
    <link rel="stylesheet" href="css/slider.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slider.js"></script>
  </head>
  <body>
    <div class="header-section">
      <div class="container">
        <div class="header-inner-section">
          <div class="header-content">
            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
          </div>
          <div class="right-header">
            <a href="login.html">Login</a>
            <a href="cart.html">Account</a>
          </div>
        </div>
      </div>
    </div>
    <div class="signup-section">
      <div class="custom-login-container">
        <form>
          <h1>Sign Up</h1>
          <div class="form-group form-flex" >
            <div class="form-flexbox" id="fname">
              <label>First Name</label>
              <input name="fname" required type="text" class="form-control" placeholder="Enter First Name">
            </div>
            <div class="form-flexbox">
              <label>Last Name</label>
              <input name="lname" required type="text" class="form-control" placeholder="Enter Last Name">
            </div>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" name="dob">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label>Phone(With Country Code)</label>
            <input required name="phone" type="text" class="form-control" placeholder="Enter Phone">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Re-enter Password</label>
            <input required name="repassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter Password">
          </div>
          <div class="form-check">
            <div class="form-flex">
              <a href="#" class="float-right"> <small>Already member? Login</small> </a>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-section">
      <div class="container">
        <div class="custom-container width-60" id="left-footer">
          <ul id="help">
            <h4>Help</h4>
            <li><a href="#">Payments</a><li>
            <li><a href="#">F.A.Q</a><li>
            <li><a href="#">Cancellation & Returns</a><li>
            <li><a href="#">Report Issues</a><li>
          </ul>
          <ul id="policy">
            <h4>Policy</h4>
            <li><a href="return.html">Return Policy</a><li>
            <li><a href="terms_conditions.html">Terms & Conditions</a><li>
            <li><a href="#">Security</a><li>
            <li><a href="privacy.html">Privacy</a><li>
          </ul>
          <ul id="social">
            <h4>Social</h4>
            <li><a href="#">Facebook</a><li>
            <li><a href="#">Instagram</a><li>
            <li><a href="#">LinkedIn</a><li>
          </ul>
        </div>
        <div class="custom-container width-40">
          <ul id="contact">
            <h4>Contact Us</h4>
            <li><a href="mailto:info@tfactorylive.com">info@tfactorylive.com</a></li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
            <li><a href="tel:+919567283023">+919567283023</a><li>
          </ul>
          <ul id="place">
            <h4>Our Place</h4>
            <li><a href="https://maps.google.com/?q=Kochi,Kerala,India">Kochi,Kerala,India</a><li>
          </ul>
        </div>
      </div>
      </div>
    </footer>
    <footer id="footer"><p>Copyright &copy; 2019 T Factory All Rights Reserved.</p> </footer>
  </body>
</html>
